{% extends "pt_card_base.html" %}
{% block myhead %}
{% endblock %}
{% block title %}葡萄卡管理{% endblock %}
{% block content %}
    <style>
        .form-group {
            margin-top: 0px;
            width: 20%;
            padding-left: 0%;
            left: 0%;
        }

        .li-style {
            float: left;
            padding-left: 10px;

        }

        .modal-body > ul > li > input {
            width: 300px;
        }

        table td img {
            max-width: 70px;
            border: 1px solid transparent !important;
        }

        table td img:hover {
            border: 1px solid #5cb85c !important;
        }

        td {
            word-wrap:break-word;
        }
        table{
            font-size: 12px;
            table-layout:fixed;
        }
        .dropdown-menu > .disabled > a,
        .dropdown-menu > .disabled > a:hover,
        .dropdown-menu > .disabled > a:focus {
            color: #333;
        }
        .dropdown-menu > .active > a,
        .dropdown-menu > .active > a:hover,
        .dropdown-menu > .active > a:focus {
            color: #333;
            text-decoration: none;
            background-color: rgba(115, 183, 51, 0.47);
            outline: 0;
        }

    </style>
    <div class="col-md-10">

    <div class="form-inline">
        <ul style="float: right">
            <li class="li-style">
                <button type="button" class="btn btn-info" id="showCouponModal" style="display: none">下载电子码
                </button>
                <button type="button" class="btn btn-info" id="add_new_product" data-toggle="modal"
                        data-target="#mymodal" onclick="beforeEdit(-1)">新建商品
                </button>
                {#                <a class="btn btn-info" ><b style="font-size:.18rem;"></b>生成葡萄卡商品</a>#}
                </button>
            </li>
        </ul>
    </div>
    <br/>
    <br/>
    <div class="modal" id="mymodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title"><span id="modal_title">vip充值卡商品编辑</span>&nbsp;&nbsp;&nbsp;<span
                            id="error-hints" style="color:red;">
                    </span></h4>

                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                        <span>
                            <label>*商品名称:</label>
                        </span>
                            <input class="form-control" id="goods_name" placeholder="" maxlength="30" type="text">
                        </li>
                        <li>
                        <span>
                            <label>*选择葡萄卡:</label><br>
                        </span>
                            <select class="form-control" id="pt_id" multiple="multiple">

                                {% for i in ptlist %}
                                    <option value="{{ i.0 }}">
                                        {{ i.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save_order">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <br/>
    <div class="loading_gif" style="display: none"></div>
    <table id="data_table" class=" table-striped table-bordered table-hover data_detail" style="font-size: 12px">
        <tbody>
        <tr id="colname">
            <td>商品ID</td>
            <td>商品名称</td>
            <td>管理葡萄卡</td>
            <td>操作</td>
        </tr>
        </tbody>
    </table>

    <br/>

    <span>显示行数：</span>
    <select onchange="updatePer(this.value)" style="font-size: 12px;height: 30px;margin-right:30px;border-color:#ccc">
        <option>30</option>
        <option>90</option>
        <option>150</option>
    </select>
    <nav style="display: inline-block;margin-bottom: 200px;">
        <ul class="pagination" style="height:0;font-size: 12px;">
            <li>
                <a href="javascript:void(0);" aria-label="Previous" onclick="requestData(g_current_page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--分页框-->
            <li>
                <a href="javascript:void(0);" aria-label="Next" onclick="requestData(g_current_page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="application/javascript">
        //本文件一些全局变量
        var g_per = 30;
        var num_pages = 1;
        var g_date_control = $("#date_control");
        var g_current_page = 1;
        var g_data = [];
        var g_period = 1;
        var g_order_detail = [];
        var g_order_pos = -1;
        var vendibility = 0;
        var is_edit = 0;
        var p_id; //葡萄卡id
        var g_id; //葡萄卡商品id
        var pt_select_id = []; //葡萄卡默认选中id

        var is_show = 0; //判断选的时间选择
        var g_special_filter = 0;


        $(document).ready(function () {
            setLeftNav("nav_full_hosting");
            loading.init(".loading_gif", "#data_table");
            $('#pt_id').multiselect({
                disableIfEmpty: true,
                maxHeight: 400,
                filterPlaceholder: "搜索",
                enableFiltering: true,
                includeSelectAllOption: true,
                onDropdownHide: function (event) {
                    $(".multiselect-clear-filter").click();
                }
            });

            requestData(1);
        });


        function updateDividePage() {
            var count = num_pages;

            //在添加之前，先把现有元素移除掉
            $("[li_can_remove='yes']").remove();
            //添加li
            for (var i = count; i >= 1; i--) {
                var li = $("<li id='page_{0}' li_can_remove='yes'></li>".format(i));
                var a = $("<a href='javascript:void(0);' onclick='requestData({0})'>{0}</a>".format(i));
                li.append(a);
                li.insertAfter(".pagination li:first");
            }
        }

        function updateTable(page) {
            var total_page = num_pages;
            if (page <= 0 || page > total_page)
                return;

            g_current_page = page;
            //在添加之前，先把现有元素移除掉
            $("[tr_can_remove='yes']").remove();
            //添加元素
            for (var i = 0; i < g_data.length; i++) {
                var tr = $("<tr tr_can_remove='yes'></tr>");
                var pname_str = ''
                tr.append($("<td>{0}</td>".format(g_data[i]['gid'])));
                tr.append($("<td>{0}</td>".format(g_data[i]['g_name'])));
                for (var j in g_data[i]['pt_name']) {
                    pname_str += g_data[i]['pt_name'][j] + '<br/>'
                }
                tr.append($("<td>{0}</td>".format(pname_str)));
                tr.append($("<td>{0}</td>".format(
                        ("<a style='cursor:pointer' onclick='beforeEdit({1})' >{0}</a>&nbsp;&nbsp;".format("编辑", JSON.stringify(g_data[i]))))));
                //console.log(g_data[i]['cardGoodsId'], g_data[i]['vendibility'])
                $("#data_table tbody").append(tr);
            }

            //更新分页框
            for (var i = 1; i <= total_page; i++) {
                if (i == page)
                    $("#page_" + i).addClass("active");
                else
                    $("#page_" + i).removeClass("active");
            }
        }


        //更新显示行数
        function updatePer(per) {
            g_per = per;
            requestData(1);
        }


        //新增商品和编辑
        $("#save_order").click(function () {
            entityEdit();
        });


        function requestData(cur_page) {
            //修改导出文件的href地址
            //modifyCsvHref();
            if (cur_page <= 0 || cur_page > num_pages)
                return;
            $.ajax({
                url: '/pt_card/pt_card_goods_info/',
                type: "GET",
                cache: false,
                data: {
                    per_page: g_per,
                    cur_page: cur_page,
                },
                beforeSend: function (XMLHttpRequest) {
                    loading.show();
                },
                success: function (data) {
                    //console.log('retur', data);
                    var data = eval(data);
                    //字符串转json
                    if (data['code'] == '0') {
                        num_pages = data['page']
                        g_data = data['data'];
                        updateDividePage();
                        updateTable(cur_page);
                        loading.hide();
                    }
                    else {
                        console.log(eval(data)['msg'])
                    }
                },
                complete: function (result) {
                    loading.hide();
                }
            });


        }

        //编辑话费商品新增编辑界面
        function beforeEdit(product_info) {
            $("#error-hints").html('').hide();
            //product_info等于-1，为新增商品
            if (product_info == -1) {
                pt_select_id = []
                $('#pt_id').children().each(function (index,domEle) {
                    var dE = $(domEle)
                    dE.removeAttr("disabled")
                });
                $("#modal_title").text('生成葡萄卡商品');
                $('#pt_id').val('');
                $('#pt_id').multiselect('refresh');
                $('#goods_name').val('');
                is_show = 0;
                is_edit = 0;
            }
            else {
                //console.log(product_info)
                $("#modal_title").text('编辑葡萄卡商品');
                pt_select_id = product_info['pt_id']
                $('#pt_id').val('');
                console.log(product_info)
                $('#pt_id').children().each(function (index,domEle) {
                    var dE = $(domEle)
                    dE.removeAttr("disabled")
                });
                for (var i in product_info['pt_id']) {
                    $('#pt_id').find('[value=' + product_info['pt_id'][i] + ']').attr('disabled', 'disabled')
                }
                $('#pt_id').multiselect('select', product_info['pt_id']);
                $('#pt_id').multiselect('refresh');
                $('#goods_name').val(product_info['g_name']);
                $("#mymodal").modal('show');
                //编辑识别
                is_edit = 1;
                //编辑id
                p_id = product_info['pt_id'];
                g_id = product_info['gid'];

            }
        }


        function entityEdit() {
            if (g_id && is_edit) {
                var select_data =  pt_select_id.concat($('#pt_id').val())
                if ($('#goods_name').val().length == 0) {
                    $("#error-hints").html('请填写商品名').show()
                    return
                }
                if ($('#goods_name').val().length > 30) {
                    $("#error-hints").html('商品名长度小于等于30').show()
                    return
                }
                if (select_data.length == 0) {
                    $("#error-hints").html('请选择葡萄卡').show()
                    return
                }
                $.ajax({
                    url: '/pt_card/pt_card_goods_info_detail/?pk=' + g_id,
                    type: 'PUT',
                    data: JSON.stringify(
                            {
                                g_id: g_id,
                                pt_id:select_data,
                                goods_name: $('#goods_name').val(),

                            }
                    ),
                    beforeSend: function () {
                        $("#error-hints").html('').hide();
                    }
                    ,
                    success: function (result) {
                        var result = eval(result)
                        if (result.code == '0') {
                            $("#mymodal").modal('hide')
                            requestData(g_current_page)
                        } else {
                            $("#error-hints").html(result.msg).show();
                        }
                    }
                })

            } else {
                if ($('#goods_name').val().length == 0) {
                    $("#error-hints").html('请填写商品名').show()
                    return
                }
                if ($('#goods_name').val().length > 30) {
                    $("#error-hints").html('商品名长度小于等于30').show()
                    return
                }
                if ($('#pt_id').val() == null || $('#pt_id').val().length == 0) {
                    $("#error-hints").html('请选择葡萄卡').show()
                    return
                }
                $.post('/pt_card/pt_card_goods_info/', JSON.stringify({
                    pt_id: $('#pt_id').val(),
                    goods_name: $('#goods_name').val(),

                }), function (result) {
                    var result = eval(result)
                    if (result.code == '0') {
                        $("#mymodal").modal('hide')
                        $("#error-hints").html('').hide();
                        requestData(g_current_page)
                    } else {
                        $("#error-hints").html(result.msg).show()
                    }
                });

            }
        }

        //删除葡萄卡商品
        function entityDelete(p_id) {
            var r = confirm("你确定 删除 吗？");
            if (r == true) {
                $.ajax({
                    url: '/pt_card/pt_card_goods_info_detail/?pk=' + p_id,
                    type: 'DELETE',
                    success: function (result) {
                        var result = eval(result)
                        if (result.code == '0') {
                            requestData(g_current_page)
                        } else {
                            $("#error-hints").html(result.msg).show();
                        }
                    }
                })
            }
            else {
                return false
            }
        }

    </script>
{% endblock %}
