{% extends "vip_base.html" %}
{% block myhead %}
{% endblock %}
{% block title %}兑换码页{% endblock %}
{% block content %}
    <style>
        .form-group {
            margin-top: 0px;
            width: 20%;
            padding-left: 0%;
            left: 0%;
        }

        .li-style {
            float: left;
            padding-left: 10px;

        }

        .modal-body > ul > li > input {
            width: 300px;
        }
    </style>
    <div class="col-md-10">
        <table id="data_table" class=" table-striped table-bordered table-hover data_detail" style="font-size: 30px; margin-bottom:5%">
            <thead>
                <tr>
                    <th id="col_num" colspan="11" style="padding-top:50px;padding-bottom:50px;">
                        <span id="table_title" style="font-size: 30px;">{{ vip_info.0.2 }}</span>
                        <a style='cursor:pointer' data-toggle='modal'  class="t_left" onclick="updateVip()">
                            <span class="glyphicon glyphicon-edit"></span>编辑
                        </a>
                        <div style="margin-left:20px;margin-top:20px;">{{ vip_info.0.3}}</div>
                    </th>
                </tr>
            </thead>
        </table>
    <div class="form-inline">
        <ul style="float: right">
            <li class="li-style">
                <button type="button" class="btn btn-primary" id="generate_redeem_code" data-toggle="modal"
                        data-target="#createvipcode" onclick="beforeEdit()">新增兑换卡商品
                </button>
            </li>
        </ul>
    </div>
    <div class="modal" id="createvipcode">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal_title">新增兑换卡商品</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                        <span>
                            <label>*商品名称:</label>
                        </span>
                            <input class="form-control" id="v_goods_name">

                        </li>


                        <li id="all_prod_content">
                        <span>
                            <label>*面值:</label>
                        </span><br/>
                            <input class="form-control" id="v_prod_content" style="margin:0px;display:inline;">元
                        </li>
                        <li id="cdkey_num">
                        <span>
                            <label>*兑换码个数:</label>
                        </span>
                            <input class="form-control" id="v_cdkey_num">
                        </li>
                        <li id="start_time">
                        <span>
                            <label>*开始时间:</label>
                        </span>
                            <input id="v_start_time_t" type="text" class="form-control ui_timepicker"
                                   min="1999-12-31T23:59" max="9999-12-31T23:59" name="start_time" required
                                   placeholder="时间格式：yyyy-mm-dd hh:mm:ss"/>
                        </li>
                        <li id="end_time">
                        <span>
                            <label>*结束时间:</label>
                        </span>
                            <input id="v_end_time_t" type="text" class="form-control ui_timepicker"
                                   min="1999-12-31T23:59" max="9999-12-31T23:59" name="start_time" required
                                   placeholder="时间格式：yyyy-mm-dd hh:mm:ss"/>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save_order">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->

    <br/>
    <div class="form-inline" style="display:None">
        vip兑换码商品管理显示项：
        <select id="pf_product_table" multiple="multiple">
            {% for column in table_columns %}
                <option value="{{ column.1 }}" {% if column.2 == 1 %}
                        selected="selected"{% endif %}>{{ column.1 }}</option>
            {% endfor %}
        </select>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br/>
    <div class="loading_gif" style="display: none"></div>
    <table id="data_table" class=" table-striped table-bordered table-hover data_detail" style="font-size: 12px">

        <tbody id="tbody_my">
        <tr id="colname">
            <td>序号</td>
            <td>商品名称</td>
            <td>面值</td>
            <td>创建时间</td>
            <td>有效期</td>
            <td>兑换数</td>
            <td>下载兑换码</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <span>显示行数：</span>
    <select onchange="updatePer(this.value)" style="font-size: 12px;height: 30px;margin-right:30px;border-color:#ccc">
        <option>30</option>
        <option>90</option>
        <option>150</option>
    </select>
    <nav style="display: inline-block;margin-bottom: 200px;">
        <ul class="pagination" style="height:0;font-size: 12px;">
            <li>
                <a href="javascript:void(0);" aria-label="Previous" onclick="requestData(g_current_page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--分页框-->
            <li>
                <a href="javascript:void(0);" aria-label="Next" onclick="requestData(g_current_page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="application/javascript">
        //本文件一些全局变量
        var g_per = 30;
        var num_pages = 1;
        var g_date_control = $("#date_control");
        var g_current_page = 1;
        var g_data = [];
        var g_period = 1;
        var g_order_detail = []
        var g_order_pos = -1

        //特殊筛选项(1-超时接单,2上门确认,3服务回访)
        var g_special_filter = -1;

        $(document).ready(function () {
            setLeftNav("nav_full_hosting");
            loading.init(".loading_gif", "#data_table");
            modifyCsvHref();

            $("#table_detail").tooltip({
                html: true,
                title: ([
                    '<div class="tongji_tip">',
                    '<p><span>货架商品管理说明</p>',
                    '</div>'
                ]).join("")
            });

            $('#pf_product_table').multiselect({
                disableIfEmpty: true,
                maxHeight: 400,
                filterPlaceholder: "搜索",
                includeSelectAllOption: true,
                enableFiltering: true,
                nonSelectedText: '默认全选',
                onChange: function (option, checked, select) {
                    requestData(1);
                },
                onDropdownHide: function (event) {
                    $(".multiselect-clear-filter").click();
                }
            });

            requestData(1);
        });

        //新增vip充值卡商品和编辑
        $("#save_order").click(function () {
            singlehEdit();
            requestData(1);
        });

        function clickDownload(aLink) {
            var str = "col1,col2,col3\nvalue1,value2,value3";
            str = encodeURIComponent(str);
            aLink.href = "data:text/csv;charset=utf-8," + str;
            //aLink.click();
        }

        function beforeEdit() {
            //数据清空
            document.getElementById("v_goods_name").value = "";
            document.getElementById("v_prod_content").value = "";
            document.getElementById("v_cdkey_num").value = "";
            document.getElementById("v_start_time_t").value = "";
            document.getElementById("v_end_time_t").value = "";
        }


        //单个更新订单保障状态
        function singlehEdit() {
            vendibility = 1;
            var v_pr_content = document.getElementById("v_prod_content").value;
            var re = /^[0-9]+.?[0-9]*$/;
            var sDate = new Date(document.getElementById("v_start_time_t").value.replace('//-/g', "//"));
            var eDate = new Date(document.getElementById("v_end_time_t").value.replace('//-/g', "//"));
            console.log(!re.test(v_pr_content))

            //数字合法性检验
            if (v_pr_content > 100000) {
                alert('面值不能超过10万元');
                return
            }
            var v_pr_content_int = parseFloat(v_pr_content);
            if (!re.test(v_pr_content) || v_pr_content_int <= 0) {
                alert('（必填）面值要为正数');
                return
            }
            var r = /^[0-9]+$/;
            var cdk = $("#v_cdkey_num").val()
            if (!r.test(cdk) || parseFloat(cdk) <= 0) {
                alert('（必填）兑换数目要为正整数');
                return
            }
            if ($("#v_goods_name").val().length == 0) {
                alert('（必填）商品名称')
                return
            }
            if ($("#v_goods_name").val().length > 16) {
                alert('商品名称长度不可以超过16个字符')
                return
            }
            if ($("#v_start_time_t").val() == '' || $("#v_end_time_t").val() == '') {
                alert('请填写时间')
                return
            }
            if (sDate > eDate) {
                alert('结束时间小于开始时间!')
                return
            }


            //ajax请求批量更新数据
            postJSON("{% url 'normal_edit_recharge_info' %}",
                    {
                        v_goods_name: $("#v_goods_name").val(),
                        v_description: '',
                        v_operTags: '',
                        v_sale_price: $("#v_prod_content").val(),
                        v_prod_content: $("#v_prod_content").val(),
                        v_start_time: $("#v_start_time_t").val(),
                        v_end_time: $("#v_end_time_t").val(),
                        v_cdkey_num: $("#v_cdkey_num").val(),
                        v_vendibility: vendibility,
                        goodsType: 'EXCHANGE',
                        edit: '0',
                    },
                    function (data) {
                        msg = eval('(' + data + ')');
                        //console.log(msg)
                        if (msg.ret_code.toString() == '0') {
                            var form = $("<form>");//定义一个form表单
                            form.attr("style", "display:none");
                            form.attr("target", "_self");
                            form.attr("method", "post");
                            form.attr("action", "{% url 'vip_redeem_codes_csv' %}");
                            var input1 = $("<input>");
                            input1.attr("type", "hidden");
                            input1.attr("name", "data");
                            input1.attr("value", JSON.stringify(msg));
                            $("body").append(form);//将表单放置在web中
                            form.append(input1);
                            form.append($("{% csrf_token %}"))
                            form.submit();//表单提交
                            $("#createvipcode").modal('hide');
                            requestData(1);
                            {##}
                            {#                            $.ajax("{% url 'vip_redeem_codes_csv' %}", {#}
                            {#                                type: "post",#}
                            {#                                cache: false,#}
                            {#                                async: false,#}
                            {#                                dataType: 'html',#}
                            {#                                data: {#}
                            {#                                    data: JSON.stringify(msg)#}
                            {#                                },#}
                            {#                                beforeSend: function (XMLHttpRequest) {#}
                            {##}
                            {#                                },#}
                            {#                                success: function (result) {#}
                            {#                                    console.log(typeof(result))#}
                            {##}
                            {#                                    //$("#createvipcode").modal('hide');#}
                            {#                                    //requestData(1);#}
                            {#                                },#}
                            {#                                error: function (result) {#}
                            {##}
                            {#                                },#}
                            {#                            })#}
                        } else {
                            alert(msg['msg']);
                            ;


                        }

                    }
            );
        }

        function updateDividePage() {
            var count = num_pages;

            //在添加之前，先把现有元素移除掉
            $("[li_can_remove='yes']").remove();
            //添加li
            for (var i = count; i >= 1; i--) {
                var li = $("<li id='page_{0}' li_can_remove='yes'></li>".format(i));
                var a = $("<a href='javascript:void(0);' onclick='requestData({0})'>{0}</a>".format(i));
                li.append(a);
                li.insertAfter(".pagination li:first");
            }
        }

        function updateTable(page) {
            var total_page = num_pages;
            if (page <= 0 || page > total_page)
                return;

            g_current_page = page;
            //在添加之前，先把现有元素移除掉
            $("[tr_can_remove='yes']").remove();
            //添加元素
            for (var i = 0; i < g_data.length; i++) {
                var tr = $("<tr tr_can_remove='yes'></tr>");
                tr.append($("<td>{0}</td>".format(i + 1 + (page - 1) * g_per)));
                tr.append($("<td>{0}</td>".format(g_data[i]['goodsName'])));
                var salePrice = parseFloat(g_data[i]['salePrice'])
                var sp = salePrice / 100;
                var realValue = parseFloat(g_data[i]['realValue'])
                var rv = realValue / 100;

                tr.append($("<td>{0}元</td>".format(rv)));
                tr.append($("<td>{0}</td>".format(g_data[i]['createTime'])));
                tr.append($("<td>{0}</td>".format(g_data[i]['usefulTime'])));
                tr.append($("<td>{0}</td>".format(g_data[i]['exchangeAmount'])));
                tr.append($("<td><a style='cursor:pointer' href='{% url 'vip_redeem_codes_csv' %}?cardGoodsId={0}' >点击下载</a></td>".format(g_data[i]['cardGoodsId'])));
                //console.log(g_data[i]['cardId'],g_data[i]['isTop'])
                $("#tbody_my").append(tr);
            }

            //更新分页框
            for (var i = 1; i <= total_page; i++) {
                if (i == page)
                    $("#page_" + i).addClass("active");
                else
                    $("#page_" + i).removeClass("active");
            }
        }

        //刷新订单信息
        function freshOrderDetail(detail_data, row_index) {

            $("[tr_can_remove='yes']").remove();

            for (var i = 0; i < g_data.length; i++) {
                if (i != row_index) {
                    var tr = $("<tr tr_can_remove='yes'></tr>");
                    for (j in g_data[i]) {
                        tr.append($("<td>{0}</td>".format(g_data[i][j])));
                    }
                    $("#data_table tbody").append(tr);
                }
                else {
                    var tr = $("<tr tr_can_remove='yes'></tr>");
                    for (j in g_data[i]) {
                        tr.append($("<td>{0}</td>".format(g_data[i][j])));
                    }
                    $("#data_table tbody").append(tr);
                    for (var sub_i = 0; sub_i < detail_data.length; sub_i++) {
                        var sub_tr = $("<tr tr_can_remove='yes'></tr>");
                        for (sub_j in detail_data[sub_i]) {
                            sub_tr.append($("<td style='max-width:150px; table-layout:fixed; word-break:break-all; overflow:hidden;' >{0}</td>".format(detail_data[sub_i][sub_j])));
                        }
                        $("#data_table tbody").append(sub_tr);
                    }
                }
            }
        }

        //更新显示行数
        function updatePer(per) {
            g_per = per;
            requestData(1);
        }

        function requestData(cur_page) {
            //修改导出文件的href地址
            modifyCsvHref();
            if (cur_page <= 0 || cur_page > num_pages)
                return;
            postJSON("{% url 'vip_redeem_codes_ajax' %}",
                    {
                        per_page: g_per,
                        cur_page: cur_page,
                        g_special_filter: g_special_filter,
                        pf_product_table: $("#pf_product_table").val(),
                    },
                    function (data) {
                        //字符串转json
                        g_data = eval(data)[0];
                        num_pages = eval(data)[1];
                        updateDividePage();
                        updateTable(cur_page);
                        g_order_pos = -1;
                    }
            );
        }

        function modifyCsvHref() {
            //修改导出文件的href地址
            $("#export_csv").attr("href", "{% url 'vip_redeem_codes_csv' %}?per_page={0}&cur_page={1}".format(g_per, 1));
        }

        $(function () {
            $("#v_end_time_t").datetimepicker({
                showSecond: true,
                timeFormat: 'hh:mm:ss',
                stepHour: 1,
                stepMinute: 1,
                hour: 23,
                minute: 59,
                second: 59,
                stepSecond: 1
            })
            $("#v_start_time_t").datetimepicker({
                showSecond: true,
                timeFormat: 'hh:mm:ss',
                stepHour: 1,
                stepMinute: 1,
                stepSecond: 1
            })
        })
    </script>
{% endblock %}
