{% extends "phone_fee_base.html" %}
{% block myhead %}
    <link rel="stylesheet" type="text/css" href="/static/css/multiselect.css" xmlns="http://www.w3.org/1999/html"/>
    <script type="text/javascript" src="/static/js/multiselect.js" ></script>
    <style type="text/css">
    .form-group
    {
        margin-top: 0;
    }
    .modal-body > ul > li > input
    {
        width: 300px;
    }
    </style>
{% endblock %}
{% block title %}全托管订单{% endblock %}
{% block content %}
 <br /><br /><br /><br /><br /><br /><br /><br />
<p>this is a test html</p>
{% endblock %}
